/* welcome */
#welcome{
    background-image: url("/assets/backgrounds/h_img.jpg");
   
    background-size: cover;
        
}
.navbar-brand{
    padding-top: 210px;
    text-align: center;
    float:none; 
}
#welcome h1 {
    padding-top: 20px;
    color: white;
    text-align: center;  

}
#welcome h2 {  
    color: white;
    text-align: center;
    
}
#welcome h3{
    color: white; 
    text-align: center;
    font-size: small;
   
}
.clickicon{
    padding-top: 11em;
    padding-bottom: 2em;
    text-align: center;
    float:none; 
}
/* about us  */
#about .title{
    font-size:x-large;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
#about p{
    text-align: center;
    font-style: normal;
    font-size:18.5px;
}
#services{
    background-image: url("/assets/backgrounds/s_image.jpg");
    
}
#services {
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        
}
#services p{
   font-size: large;
    
}
#whatwedo{
    text-align: center;
    padding-top: 40px;
    
  }
  #whatwedo .row{
      padding-top: 5px;
  }

.design-description, .development-description, .product-description{
    display: none;
  }
  .portfolio{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
    align-items: center;
    margin-top: 20px;
    margin-left:15%;
    margin-right: 15%; 
    margin-bottom: 40px;
  
  }
  #portfolio h3{
    text-align: center;
    padding-top:40px;
  }
  .card{
    height: 195px;
    width: 100%;
    background-size: cover;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  #portifolio_1{
    background-image: url("/assets/portfolio/work4.jpg");
    background-size: cover;
  }
  #portifolio_1:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work4.jpg");
    background-size: cover;
  
  }
  
  
  #portifolio_2{
    background-image: url("/assets/portfolio/work3.jpg");
    background-size: cover;
  
  }
  #portifolio_2:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work3.jpg");
    background-size: cover;
  
  
  }
  
  #portifolio_3{
    background-image: url("/assets/portfolio/work2.jpg");
    background-size: cover;
  
  }
  #portifolio_3:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work2.jpg");
    background-size: cover;
  
}
  
    #portifolio_4{
    background-image: url("/assets/portfolio/work1.jpg");
    background-size: cover;
  
  }
  #portifolio_4:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work1.jpg");
    background-size: cover;
  
  
  }
  
  #portifolio_5{
    background-image: url("/assets/portfolio/work5.jpg");
    background-size: cover;
  
  }
  #portifolio_5:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work5.jpg");
    background-size: cover;
  
  
  }
    
  #portifolio_6{
    background-image: url("/assets/portfolio/work6.jpg");
    background-size: cover;
  
  }
  #portifolio_6:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work6.jpg");
    background-size: cover;
  
  
  }
    
  #portifolio_7{
    background-image: url("/assets/portfolio/work7.jpg");
    background-size: cover;
  
  }
  #portifolio_7:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work7.jpg");
    background-size: cover;
    
  }
  
  #portifolio_8{
    background-image: url("/assets/portfolio/work8.jpg");
    background-size: cover;
  
  }
  #portifolio_8:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/portfolio/work8.jpg");
    background-size: cover;
  
  
  }
  .col-md-3 .solid-border{
    position: absolute;
    height: 441.6px;
    width: 85%;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    display: none;
  } 
  
  .col-md-3 .solid-border h1{
    font-size: 35px;
  }
